#mousePosition{
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  padding: 5px;
  height: 20px border: 1px solid #ddd;
  width: 100px;
  background-color: #b5dafd;
}
.dot {
    position: absolute;
}